*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --font-weight: 800; 
    --font-size: 36px;
    --background: #1f2937;
    --color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    padding-left: 200px;
}

.header { 
    background: var(--background);
    height: 80vh;
}

.hero-logo-text h1 {
    font-size: 24px;
    font-weight: var(--font-weight);
    color: var(--color);
}

.nav-links {
    padding-right: 180px;
}

.nav-links a {
    margin: 10px;
    text-decoration: none;
    color: var(--color);
    font-size: 18px;
}

.hero-main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 200px;
    flex: 1;
    color: white;
}

.hero-main-text {
    font-size: 48px;
    color: #f9faf9;
    font-weight: 800;
}

.hero-header {
    display: flex;
    flex-direction: column;
}

.hero-header .secondary-text {
    font-size: 18px;
}

.image-header {
    background-color: gray;
    width: 600px;
    height: 300px;
}

.image-header p {
    text-align: center;
}

.hero-btn {
    background-color: #3882f6;
    border: none;
    padding: 15px 30px;
    margin-top: 20px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    color: white;
}

.second-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 50vh;
}

.information-header .hero-main-text {
    color: black;
    margin-top: 35px;
    font-size: 30px;
}
